.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_output
fhdwVorlage_files
fhdwVorlage.tex

MeineArbeit_files
MeineArbeit.tex
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc
*.mtc0
QEinfuehrung.bib
FHDW-Vorlage.Rproj
*.Rproj
